/* CSS declarations go here */

.user_avatar{
	min-height:100px;
	text-align: center;

}
.avatar_img{
	height:75px;
}

.top-margin{
	margin-top:100px;
} 

@media (min-width: 768px){
  #left {
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 0;
    width: 75%;
    overflow-y: scroll; 
  }
  
  #right {
    position: absolute;
    top: 70px;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    width: 25%;
  }
}

#left {
  height:100%;
}

#right {
  height:100%;
  text-align: center;
}